# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (conda and others)
venv/
env/
ENV/
.venv/
.conda/
conda/
*.conda

# Conda environment files (do not ignore environment.yml, that's tracked)
*.env
*.env.*
*.conda-lock

# Conda packages (cache)
pkgs/
*.egg-info/
*.egg

# PyCharm project files
.idea/
*.iml

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*
.venv

# Streamlit secrets
.streamlit/secrets.toml

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/
